# Posttest 2 Nupiq

### Import Package

In [7]:
import pandas as pd

### Read CSV

In [8]:
df = pd.read_csv("Movies.csv")

In [9]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",14-03-72,87.259,8.7,16607
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,23-09-94,74.450,8.7,22327
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,20-12-74,53.295,8.6,10043
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",19-10-95,39.465,8.6,3875
4,424,Schindler's List,The true story of how businessman Oskar Schind...,15-12-93,51.786,8.6,13238
...,...,...,...,...,...,...,...
1996,362045,Bajirao Mastani,"Peshwa Bajirao married to Kashibai, falls in l...",18-12-15,9.539,7.3,227
1997,360606,Adventures in Babysitting,"Two teen rival babysitters, Jenny and Lola, te...",24-06-16,19.964,7.3,332
1998,65229,Tomboy,A French family moves to a new neighborhood wi...,20-04-11,11.369,7.3,564
1999,20312,Interstate 60,An aspiring painter meets various characters a...,13-04-02,11.570,7.3,511
2000,4543,The Meaning of Life,Life's questions are 'answered' in a series of...,31-03-83,17.498,7.3,1512

### Dataset Types

In [10]:
df.dtypes

id                int64
title            object
overview         object
release_date     object
popularity      float64
vote_average    float64
vote_count        int64
dtype: object

### 1
Informasi yang didapatkan adalah jumlah record, nama atribut, jumlah atribut dengan tipe objek, jumlah atribut dengan tipe angka, jumlah atribut yang memiliki nilai null.

In [12]:
jumlahRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary_no1 = {
    "Jumlah Record": jumlahRecord,
    "Nama Attribute": namaAttribute,
    "Jumlah Attribute dengan Tipe Objek": jumlahObjek,
    "Jumlah Atttribute dengan Tipe Angka": jumlahAngka,
    "Jumlah Attribute dengan Nilai NULL": jumlahNULL,
}

pd.Series(dictionary_no1)

Jumlah Record                                                    2001
Nama Attribute      Index(['id', 'title', 'overview', 'release_dat...
Jumlah Attribute                                                    7
Jumlah Objek                                                        3
Jumlah Angka                                                        4
Jumlah NULL                                                         0
dtype: object